*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("./images/back1.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 752px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
h1{
    background-color: #000000;
    color: #FFFFFF;
    width: 320px;
    height: 50px;
    font-size: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    opacity: 80%;
    padding-top: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#page2{
    position: relative;
    background: #f4f4f4;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 260px;
    margin-top: 80px;
}
#heading2{
    color: #000000;
    text-align: center;
    margin-top: 20px;
    opacity: 80%;
    padding-top: 40px;
}
section{
    position: absolute;         /*will be positined based on div(with reference to div since it is absolute and div is its parent*/
    padding: 40px;
    margin: 40px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    line-height: 150%;
}

#div2{
    position: absolute;
    background-image: url("./images/back2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    margin-top: 170px;
}
#heading3{
    color: #FFFFFF;
    text-align: center;
    opacity: 80%;
    vertical-align: middle;   
    line-height: 120px;
    font-size: 30px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.1em;
}
#div3{
    background-color: #282e34;
    position: absolute;
    margin-top: 420px;
    width: 100%;
    height: 260px;
}
div h2{
    text-align: center;
    color: #FFFFFF;
    margin-top: 70px;
}
#section2{
    color: #FFFFFF;
    text-align: center;
    line-height: 1.8em;
    padding-bottom: 30px;
    display: block;
}
#div4{
    position: absolute;
    background-image: url("./images/back1.jpg");
    background-size: 100% 100%;
    width: 100%;
    margin-top: 680px;
    height: 746px;
}

.Lists{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul li{
    display: inline-block;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0;
    color: yellow;
    margin: 0;
    height: 30px;
    padding-top: 5px;
}
li:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: #0b98da;
}
li:active{
    color:red;
}
h1:hover{
    cursor: pointer;
    background-color: rgb(24, 180, 180);
}